* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  justify-content: space-evenly;
}
.main_container {
  display: flex;
}
.game_block {
  flex: none;
  align-items: flex-start;
}
.username_block {
  flex: none;
  align-items: flex-start;
}
.messages_block {
  flex: none;
  align-items: flex-start;
}
div#title {
  text-align: center;
  padding: 10px;
}
