* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  justify-content: space-evenly;
}
div#title {
  text-align: center;
  padding: 20px;
}
.main_container {
  display: flex;
  justify-content: space-evenly;
}
div.game_block {
  flex: none;
  align-items: flex-start;
  padding: 20px;
}
div.submission_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
}
#username_block {
  flex: none;
  align-items: flex-start;
  border-style: groove;
  border-color: black;
}
#messages_block {
  flex: none;
  align-items: flex-start;
  border-style: groove;
  border-color: black;
}

#auction_block {
  flex: none;
  align-items: flex-start;
  border-style: groove;
  border-color: black;
}

h3 {
  text-align: center;
  padding: 5px 10px;
}
