* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  display: flex;
  justify-content: space-evenly;
}
.game_block {
  flex: none;
  align-items: flex-start;
}
.username_block {
  flex: none;
  align-items: flex-start;
}
.messages_block {
  flex: none;
  align-items: flex-start;
}
