body {
  font-family: sans-serif;
  /* TODO: do you need units for font-size? */
  font-size: 14;
}

div#grid-canvas {
  user-select: none;
}

div.grid-row {
  display: flex;
  width: min-content;
}

span.grid-cell {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px dotted gray;
}

span.empty-grid-cell {
  background: lightgoldenrodyellow;
}

span.inaccessable-grid-cell {
  background: gray;
}

span.top-wall {
  border-top: 1px solid black;
}

span.bottom-wall {
  border-bottom: 1px solid black;
}

span.left-wall {
  border-left: 1px solid black;
}

span.right-wall {
  border-right: 1px solid black;
}
