* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  justify-content: space-evenly;
}
div#title {
  text-align: center;
  padding: 20px;
}
.main_container {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
div.game_block {
  flex: none;
  align-items: center;
  padding: 20px;
  width: 50%;
}
div.submission_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 25%;
}
#username_block {
  flex: none;
  align-items: flex-start;
  border-style: groove;
  border-color: black;
}
#messages_block {
  align-self: flex-end;
  border-style: groove;
  border-color: black;
  max-height: 250px;
  height: 250px;
}

#auction_block {
  flex: none;
  align-items: flex-start;
  border-style: groove;
  border-color: black;
}

h3 {
  text-align: center;
  padding: 5px 10px;
}
